body {
  background-color: hsl(30, 54%, 90%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0px;
}

h1 {
  font-family: "Young Serif";
  font-weight: 400;
  font-size: 36px;
}

h2 {
  color: hsl(14, 45%, 36%);
  font-family: "Young Serif";
  font-weight: 400;
}

p,
li,
h3,
td {
  font-family: Outfit;
  font-size: 16px;
}

ol li::marker {
  font-family: Outfit;
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}

h3 {
  color: rgb(117,44,73);
}

ul, ol{
  padding: 0px 25px;
}

li{
  margin: 10px 0;
  padding-left: 5px;
}

li::marker{
  color: hsl(14, 45%, 36%);
}

hr{
  padding: 0;
  margin: 25px 0;
}
img {
  border-radius: 10px;
}
.container {
  background-color: hsl(330, 100%, 98%);
  border-radius: 15px;
  width: 650px;
  padding: 33px;
}

.prep-container {
  background-color: rgba(255, 105, 180, 0.05);
  padding: 5px 20px;
  border-radius: 15px;
  margin: 0;
}

.prep-container li {
  color: rgb(94, 85, 86);
}

table {
  width: 100%;
}

td {
  padding: 15px 25px;
}

td:nth-child(2) {
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}

table, th, td {
  border-collapse: collapse;
}

tr:not(:last-child) td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}